<div class="hero-unit">
  <h1><%= ENV['APPLICATION_NAME'] %></h1>
  <div class="center">
    <p>
      <%= ENV['APPLICATION_SLOGAN'] %>
    </p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
</div>
