<%= form_for :session, url: sessions_path, method: 'post', remote: true do |f| %>
  <div class="shadow">
    <div class="arrow-up"></div>
  </div>

  <div class="input-container">
    <div class="input-image input-image-email"></div>
    <%= f.email_field :email, value: "#{@email_default_value}", spellcheck: false, autofocus: true %>
    <%= f.label :email, 'Email address', id: 'email_label' %>
  </div>

  <div class="input-container">
    <div class="input-image input-image-password"></div>
    <%= f.password_field :password, hidefocus: true %>
    <%= f.label :password, 'Password', id: 'password_label' %>
    <%= f.submit "", class: "submit-button", hidefocus: true, alt: 'Sign in', title: 'Sign in' %>
  </div>

  <span class="tip">Did you mean <a></a>? <span class="x">&times;</span></span>
  <span class="errors">Sign in attempt failed.  Please check your email and password.</span>
<% end %>
