$('form').after('<%= j render 'new' %>').remove();
$('a.remembers-email-in-link').after('<%= j link_to 'Forgot my password', new_password_reset_path, class: 'tiny-link bevel left remembers-email-in-link', remote: true %>').remove();
document.title = "<%= full_title('Sign in') %>";
typeof initializeScript == 'function' ? initializeScript() : null;
