<%= form_tag :password_resets, method: 'post' do %>
  <div class="shadow">
    <div class="arrow-up"></div>
  </div>

  <div class="input-container">
    <div class="input-image input-image-email"></div>
    <%= email_field_tag :email, @email_default_value, spellcheck: false, autofocus: true %>
    <%= label_tag :email, 'Email address', id: 'email_label' %>
  </div>
  <div class="actions">
    <%= submit_tag 'Reset my password', class: "btn btn-large btn-primary" %>
  </div>
<% end %>
