<% provide :title, 'Reset password' %>
<% provide :page_specific_javascript, 'page_specific/signin.js' %>
<% provide :page_specific_css, stylesheet_link_tag('page_specific/signin.css', :media => 'all') %>
<% @hide_header = true %>
<% @hide_footer = true %>

<div id="signin" class="signin">
  <div class="signin_box">
    <div class="center portrait">
      <%= image_tag asset_path('blank.gif'), width: 150, height: 150, class: 'gravatar signin-gravatar', title: 'Your Gravatar', alt: 'Your Gravatar' %>
    </div>
    <div class="center logo">
      <%= link_to image_tag('lentu-logo-faded-150x150.png', width: 150, height: 150, alt: 'Lentu - Crowd investing in people, ideas, innovation', title: 'Lentu - Crowd investing in people, ideas, innovation'), root_path, title: 'Lentu' %>
    </div>

    <%= render 'new' %>
  </div>
  <%= link_to 'Sign in', signin_path, id: 'signin-link', remote: true, class: 'tiny-link bevel left remembers-email-in-link' %>
  <%= link_to 'Create an account', signup_path, id: 'signup-link', class: 'tiny-link bevel bold right' %>
</div>

<script>
document.getElementById("signin").style.marginTop = Math.max(0, (document.documentElement.clientHeight - 400) / 2 - 80) + "px";
</script>
