$('form').after('<%= j render 'new' %>').remove();
$('a.remembers-email-in-link').after('<%= j link_to 'Sign in', signin_path, title: 'Sign in', class: 'tiny-link bevel left remembers-email-in-link', remote: true %>').remove();
document.title = "<%= full_title('Reset password') %>";
typeof initializeScript == 'function' ? initializeScript() : null;
