Hi <%= @user.name %>,

Welcome to the Lentu Community!

A place that promotes investing in people, ideas, and innovation.

Please click on the following link to verify this email address:
<%= edit_email_verification_url @token %>

If you did not sign up at https://Lentu.us, please ignore this
email.

- The Lentu Team
