@import "compass";
$signin-icons: sprite-map("signin-icons/*.png", $spacing: 4px);
$signin_width: 400px;
$signin_height: 400px;
$arrow_nib_width: image-width( sprite-file($signin-icons, arrow-nib) );
$arrow_nib_height: image-height( sprite-file($signin-icons, arrow-nib) );

.signin {
  position: absolute;
  left: 50%;
  margin-left: -($signin_width / 2);
  width: $signin_width;
  height: $signin_height;
  @include box-sizing(border-box);

  .signin_box {
    position: relative;
    padding: 250px 0px 20px 0px;

    @include box-shadow(0 1px 2px rgba(0,0,0,.2), 0 0 1px rgba(0,0,0,.3), inset 0 0 1px 1px rgba(255,255,255,.2), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 2px rgba(0,0,0,.05));

    @include border-radius(3px);

    @include filter-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.45), vertical);
    @include background-image(linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.45) 100%));

    .shadow {
      width: 100%;
      background: #fff sprite($signin-icons, subtle-shadow) repeat-x;
      padding-top: 3px;
      position: relative;

      .arrow-up {
        background: transparent sprite($signin-icons, arrow-nib) repeat-x;
        width: $arrow_nib_width;
        height: $arrow_nib_height;
        position: absolute;
        top: -11px;
        left: ( ($signin_width - $arrow_nib_width)/2 );
      }
    }

    .input-container {
      position: relative;
      background-color: #fff;

      label {
        font-size: 16px;
        letter-spacing: 1px;
        position: absolute;
        color: rgba(0,0,0,0.4);
        width: 200px;
        cursor: text;
        @include transition(0.2s all ease);
      }

      label#email_label, label#password_label {
        top: 25px;
        left: 72px;
      }

      input[type=email]:focus + label#email_label,
      input[type=password]:focus + label#password_label {
        color: rgba(0,0,0,0.15);
      }

      input {
        height: 70px;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 1px;
        font-size: 17px;
        font-weight: normal;
        padding-top: 7px;
        padding-left: 70px;
        @include border-radius(0);
        box-shadow: none;
        background: #fff;
        border: 0;
        outline: 0;
      }

      input[type=email] {

      }

      input[type=password] {
        border-top: 1px solid rgba(0,0,0,0.15);
        border-bottom: 1px solid rgba(0,0,0,0.15);
      }

      .submit-button {
        background: transparent sprite($signin-icons, submit-button) no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 15px;
        right: 15px;
        border: 0;
        padding: 0;
        margin: 0;
        @include opacity(0.15);
        @include transition(0.2s all ease);

        &:hover {
          @include opacity(0.3);
        }
      }

    }

    .logo {
      position: absolute;
      left: 0;
      top: 50px;
    }

    .portrait {
      position: absolute;
      left: 0;
      top: 50px;

      .signin-gravatar {
        width: 150px;
        height: 150px;
        @include border-radius(150px);
        @include box-shadow(rgba(#73b8ee, 1) 0 0 25px, rgba(#73b8ee, 0.9) 0 0 1px 5px inset);
        display: none;
      }
    }

    .tip {
      background: #467192;
      background: rgba(70,113,146,.8);
      position: absolute;
      left: 85px;
      top: 310px;
      z-index: 20;
      display: none;
      padding: 15px 20px;
      width: 300px;
      color: #cddce8;
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
      font-size: 15px;
      border-radius: 3px;
      box-shadow: inset 0 -1px 2px rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.15);

      a {
        font-weight: bold;
        color: #fff;
        cursor: pointer;
      }

      span.x {
        float: right;
        cursor: pointer;
      }

      span.x:hover {
        color: white;
      }
    }

    .tip:after {
      content: '';
      position: absolute;
      left: 20px;
      top: -7px;
      display: block;

      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #467192;
      opacity: .8;
    }

    .errors {
      background: #cb2929;
      background: rgba(203,41,41,.8);
      position: absolute;
      left: -150px;
      top: 255px;
      z-index: 20;
      padding: 30px 15px 15px 15px;
      width: 190px;
      height: 133px;
      line-height: 24px;
      @include box-sizing(border-box);
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.3);
      font-size: 15px;
      @include border-radius(3px);
      //box-shadow: inset 0 -1px 2px rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.15);
      display: none;
      cursor: pointer;
    }

    .errors:after {
      content: '';
      position: absolute;
      right: -20px;
      top: 15px;
      display: block;

      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 20px solid rgba(203,41,41,.8);
      cursor: pointer;
    }

    .errors:before {
      content: '';
      position: absolute;
      right: -20px;
      top: 85px;
      display: block;

      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 20px solid rgba(203,41,41,.8);
      cursor: pointer;
    }
  }

  .tiny-link {
    position: relative;
    line-height: 30px;
    font-size: 13px;
    color: #444;

    &:hover {
      color: #2567a5;
    }
  }

}

.input-image {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: text;
}

.input-image-email {
  background: #fff sprite($signin-icons, email) no-repeat;
}

.input-image-password {
  background: #fff sprite($signin-icons, password) no-repeat;
}


.actions {
  border-top: 1px solid rgba(0,0,0,0.15);
  padding: 20px 20px 0 20px;

  input {
    width: 100%;
    @include box-sizing(border-box);
  }
}
