<% provide :title, 'Account Settings' %>
<h1>Account Settings</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user do |f| %>
      <%= render 'shared/error_messages', object: @user %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>
      <%= gravatar_for @user, size: 80 %>
      <%= link_to 'Change Gravatar', '//gravatar.com/emails', alt: 'Change Gravatar', target: '_blank' %>
    </p>
  </div>
</div>
