<% provide :title, 'Account Profile' %>
<% provide :page_specific_javascript, 'page_specific/users/show.js' %>

<h1>
  <%= gravatar_for @user, size: 90 %>
  <%= @user.name %>
</h1>
<p>
  <%= @user.email %>
</p>

<%= link_to "Link w/ Dwolla", "/auth/dwolla", class: "popup", :"data-width" => 635, :"data-height" => 544 %>
<!-- Make prompt size 636x544 -->

<a id="single_2" href="/auth/dwolla" title="Link this Lentu account with your Dwolla account">
  <img src="http://farm9.staticflickr.com/8481/8215602321_69d9939b8b_m.jpg" alt="" />
</a>
