<%# url = Lentu::Application.routes.url_helpers %>

var initializeScript = function () {

  <%#======================================================%>
  var old_email;
  var emailField = $('input[type=email]');
  var errors = $('.errors');

  setInterval(function() {
    var email = emailField.val();
    if (email !== old_email) {
      emailField.trigger("change");
    }
  }, 200);

  emailField.on('keyup change blur', function(evt) {
    var email = evt.target.value.toLowerCase();
    propagateEmailUpdate(email);
    old_email = email;
  });

  var propagateEmailUpdate = function (email) {
    if ( email == old_email) { return; }

    errors.fadeOut(250);

    var href = $('a.remembers-email-in-link').attr('href');
    var path = href.split("?")[0];
    $('a.remembers-email-in-link').attr('href',path + '?email='+encodeURIComponent(email));

    if ( portrait.is(":visible") && !isValidEmail(email) && email.length > 0 ) { return; }

    gravatarUpdate(email);
  };

  var isValidEmail = function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
  };

  // Kicksend mail checker
  /*1.1*/var Kicksend={mailcheck:{threshold:3,defaultDomains:"yahoo.com google.com hotmail.com gmail.com me.com aol.com mac.com live.com comcast.net googlemail.com msn.com hotmail.co.uk yahoo.co.uk facebook.com verizon.net sbcglobal.net att.net gmx.com mail.com".split(" "),defaultTopLevelDomains:"co.uk com net org info edu gov mil".split(" "),run:function(a){a.domains=a.domains||Kicksend.mailcheck.defaultDomains;a.topLevelDomains=a.topLevelDomains||Kicksend.mailcheck.defaultTopLevelDomains;a.distanceFunction=a.distanceFunction||Kicksend.sift3Distance;var b=Kicksend.mailcheck.suggest(encodeURI(a.email),a.domains,a.topLevelDomains,a.distanceFunction);b?a.suggested&&a.suggested(b):a.empty&&a.empty()},suggest:function(a,b,c,d){a=a.toLowerCase();a=this.splitEmail(a);if(b=this.findClosestDomain(a.domain,b,d)){if(b!=a.domain)return{address:a.address,domain:b,full:a.address+"@"+b}}else if(c=this.findClosestDomain(a.topLevelDomain,c),a.domain&&c&&c!=a.topLevelDomain)return b=a.domain,b=b.substring(0,b.lastIndexOf(a.topLevelDomain))+c,{address:a.address,domain:b,full:a.address+"@"+b};return!1},findClosestDomain:function(a,b,c){var d,e=99,g=null;if(!a||!b)return!1;c||(c=this.sift3Distance);for(var f=0;f<b.length;f++){if(a===b[f])return a;d=c(a,b[f]);d<e&&(e=d,g=b[f])}return e<=this.threshold&&null!==g?g:!1},sift3Distance:function(a,b){if(null==a||0===a.length)return null==b||0===b.length?0:b.length;if(null==b||0===b.length)return a.length;for(var c=0,d=0,e=0,g=0;c+d<a.length&&c+e<b.length;){if(a.charAt(c+d)==b.charAt(c+e))g++;else for(var f=e=d=0;5>f;f++){if(c+f<a.length&&a.charAt(c+f)==b.charAt(c)){d=f;break}if(c+f<b.length&&a.charAt(c)==b.charAt(c+f)){e=f;break}}c++}return(a.length+b.length)/2-g},splitEmail:function(a){a=a.split("@");if(2>a.length)return!1;for(var b=0;b<a.length;b++)if(""===a[b])return!1;var c=a.pop(),d=c.split("."),e="";if(0==d.length)return!1;if(1==d.length)e=d[0];else{for(b=1;b<d.length;b++)e+=d[b]+".";2<=d.length&&(e=e.substring(0,e.length-1))}return{topLevelDomain:e,domain:c,address:a.join("@")}}}};window.jQuery&&function(a){a.fn.mailcheck=function(a){var c=this;if(a.suggested){var d=a.suggested;a.suggested=function(a){d(c,a)}}if(a.empty){var e=a.empty;a.empty=function(){e.call(null,c)}}a.email=this.val();Kicksend.mailcheck.run(a)}}(jQuery);
  $('input[type=email]').on('blur', function() {
    $(this).mailcheck({
      suggested: function(element, suggestion) {
        //console.log("suggested call back. suggestion: ", suggestion);
        tip.fadeIn().find('a').text(suggestion.full);
      },
      empty: function(element) {
        tip.fadeOut();
      }
    });
  });

  var tip = $('.tip');
  var password = $('input[type=password]');
  password.on('keydown change blur',function(e) {
    tip.fadeOut(200);
  });
  tip.find('a').on('click', function() {
    $('input[type=email]').focus().val(tip.find('a').text()).blur();
    tip.fadeOut(200);
  });
  tip.find('span.x').on('click',function() {
    tip.fadeOut(200);
  });

  <%#======================================================%>

  var md5=function(h){function i(c,d){return((c>>1)+(d>>1)<<1)+(c&1)+(d&1)}for(var m=[],l=0;64>l;)m[l]=0|4294967296*Math.abs(Math.sin(++l));return function(c){for(var d,g,f,a,j=[],c=unescape(encodeURI(c)),b=c.length,k=[d=1732584193,g=-271733879,~d,~g],e=0;e<=b;)j[e>>2]|=(c.charCodeAt(e)||128)<<8*(e++%4);j[c=(b+8>>6)*h+14]=8*b;for(e=0;e<c;e+=h){b=k;for(a=0;64>a;)b=[f=b[3],i(d=b[1],(f=i(i(b[0],[d&(g=b[2])|~d&f,f&d|~f&g,d^g^f,g^(d|~f)][b=a>>4]),i(m[a],j[[a,5*a+1,3*a+5,7*a][b]%h+e])))<<(b=[7,12,17,22,5,9,14,20,4,11,h,23,6,10,15,21][4*b+a++%4])|f>>>32-b),d,g];for(a=4;a;)k[--a]=i(k[a],b[a])}for(c="";32>a;)c+=(k[a>>3]>>4*(1^a++&7)&15).toString(h);return c}}(16);

  var portrait = $(".portrait img");
  var logo = $(".logo");
  var gravatarUpdate = function (email) {
    var md5_email = md5(email);
    portrait.attr('src','//gravatar.com/avatar/'+md5_email+'?s=150&d=404');
  };

  portrait.on('error', function() {
    portrait.hide();
    logo.fadeIn();
  });

  portrait.on('load', function() {
    logo.hide();
    portrait.fadeIn();
  });

  <%#======================================================%>

  var signin = $(".signin");

  $(window).resize(function (evt) {
    repositionSigninBox(evt);
  });

  var repositionSigninBox = function (evt) {
    signin.css('margin-top', Math.max(0, ($(window).height() - signin.outerHeight()) / 2 - 150) );
  };

  setTimeout(function() {
    signin.css({
      '-webkit-transition': '0.2s all ease-in-out',
      '-moz-transition': '0.2s all ease-in-out',
      '-o-transition': '0.2s all ease-in-out',
      'transition': '0.2s all ease-in-out'
    });
  },200);

  <%#======================================================%>

  $('input[type=email]').on('keyup blur', function (evt) {
    hideElementOnContent( $('#email_label'), $(this).val() );
  });

  $('input[type=password]').on('keyup blur', function (evt) {
    hideElementOnContent( $('#password_label'), $(this).val() );
  });

  var hideElementOnContent = function (target, content) {
    if (content.length > 0) {
      target.hide();
    } else {
      target.show();
    }
  };
  hideElementOnContent( $('#email_label'), $('input[type=email]').val() );
  hideElementOnContent( $('#password_label'), $('input[type=password]').val() );

  <%#======================================================%>

  $('.input-image-email').click(function () {
    $('input[type=email]').focus();
  });

  $('.input-image-password').click(function () {
    $('input[type=password]').focus();
  });

  errors.click(function () {
    $(this).stop().fadeOut(200);
  });

  <%#======================================================%>

};

var newPage = function (loc) {
  var signin = $('.signin');

  signin.fadeOut(250).css({
    '-webkit-transform':'scale(0)',
    '-moz-transform':'scale(0)',
    '-ms-transform':'scale(0)',
    '-o-transform':'scale(0)',
    'transform':'scale(0)'
  }).fadeOut(250, function () {
    window.location.pathname = loc;
  });
};

initializeScript();
