/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "compass";

/* mixins, variables, etc. */
$footer_height: 100px;

$primary_color: #352a54;
$link_color: #8fc0ff;
$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayLighter: #eee;
$grayDark: #464646;
$blue: #08C;


/*===[ the rest ]==========================*/
@import 'normalize';                      // Modern day CSS Reset
@import 'html5boilerplate-optimizations'; // H5Boilerplate additional optimizations
@import 'jquery.fancybox';
@import 'dwolla';
@import 'global';
@import 'sticky-footer';
