body, html {
  height: 100%;
}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$footer_height);
}

#push, footer {
  height: $footer_height;
}

footer {
  border-top: 1px solid #6f6f6f;
  background-color: #333;
}
