<% if @user %>
  <% if @send_status == 'too soon' %>
    alert('You requested an email verification just a few moments ago!  Please wait a minute and try again.');
  <% elsif @send_status == 'already verified' %>
    alert('You do not need to request anymore email verifications, since you are already verified.');
  <% else %>
    alert('We have sent you a verification email!\n\nPlease follow the instructions on that email to verify your account as soon as possible.');
  <% end %>
<% else %>
  alert('You are not logged in!');
<% end %>
