<footer>
  <div class="container">
    <small>
      <%= link_to "Powered by Rails", 'http://rubyonrails.org/' %>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>
