<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "#{ENV['APPLICATION_NAME']}", root_path, id: "logo-link", class: 'brand logo' %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to 'Users', users_path %></li>
            <li id='fat-menu' class='dropdown'>
              <a href="#" class='dropdown-toggle' data-toggle='dropdown'>
                Account <strong class='caret'></strong>
              </a>
              <ul class='dropdown-menu'>
                <% unless current_user.email_verified? %>
                  <li><%= link_to 'Verify Email', new_email_verification_path, id: 'verify-email-link', remote: true %></li>
                  <li class='divider'></li>
                <% end %>
                <li><%= link_to 'Profile', current_user %></li>
                <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
                <li class='divider'></li>
                <li>
                  <%= link_to 'Sign out', signout_path, method: 'delete' %>
                </li>
              </ul>
            </li>
          <% else %>
            <% unless @hide_signin_link %>
              <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="header-padding"></div>
