<script>
(function() {
  function getScript(url,success){
    var script=document.createElement('script');
    script.src=url;
    var head=document.getElementsByTagName('head')[0], done=false;
    script.onload=script.onreadystatechange = function(){
      if ( !done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete') ) {
        done=true;
        success();
        script.onload = script.onreadystatechange = null;
        head.removeChild(script);
      }
    };
    head.appendChild(script);
  }

  <%# Guarantees jQuery loads first %>
  getScript('//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js',function(){
    getScript('<%= asset_path('//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js') %>', function(){});
    getScript('<%= asset_path('application.js') %>', function(){
      getScript('<%= asset_path('https://www.dwolla.com/scripts/button.min.js') %>', function(){});
      <%= defer_load_javascript_file( yield(:page_specific_javascript) ).html_safe %>
    });
  });
})();
</script>
