<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!-- <%= Rails.env %> -->
  <meta charset="utf-8">
  <title><%= full_title( yield(:title) ) %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css', :media => "all" %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= yield(:page_specific_css) %>
  <%= render "layouts/ie_sticky_footer_fix" %>
  <%= render "layouts/shim" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= "#{controller_name}_#{action_name}" %>">

<div id="wrap">
  <%= render('layouts/header') unless @hide_header %>

  <div class="main-body container">
    <% flash.each do |key, value| %>
      <%= render partial: "layouts/flash", :locals => {key: key, value: value} %>
    <% end %>

    <%= yield %>

    <div class="loader"></div>

    <%#= debug(params) if Rails.env.development? %>
    <%#= debug(request) if Rails.env.development? %>
  </div>

  <div id="push"></div>
</div>
<%= render "layouts/footer" unless @hide_footer %>

<%= render "layouts/javascript_loader" %>
</body>
</html>
